.our-team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  } 
  .ourteam{
    max-width: 1300px;
    margin-left: 100px;
  }
  @media (max-width: 768px) {
    .our-team-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 0px; 
    }
    .ourteam{
        max-width: 100%;
        margin-left: 0px;
      }
  }
  