.team-member-container {
  text-align: center;
  margin: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 2px;
  background-color: #fff;
}

  .team-member-image {
    width: 150px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 5px;
  }
  
  .team-member-name {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .team-member-designation {
    margin-top: 5px;
    font-style: italic;
  }
  @media (max-width: 768px) {
    .team-member-container {
      margin: 10px;
      padding: 10px;
    }
  
    .team-member-image {
      width: 120px; /* Adjusted width */
      height: 160px; /* Adjusted height */
    }
  
    .team-member-name {
      font-size: 16px; /* Adjusted font size */
      margin-top: 5px;
    }
  
    .team-member-designation {
      font-size: 14px; /* Adjusted font size */
      margin-top: 3px;
    }
  }
  
  